{% extends 'user/base.html' %}
{% load static %}

{% block title %}
Password Reset confirm
{% endblock title %}

{% block content %} 
<form method="POST">
    {% csrf_token %}
    <div class="form-group">
        <div class="text-success">
            {{form.as_p}}
            <div class="form-group text-center mt-3">
                <button class="btn btn-outline-danger" type="submit">Request Password</button>
            </div>
        </div>
    </div>
</form>
{% endblock content %}