{% extends 'user/base.html' %}
{% load static %}

{% block title %}
Password Reset
{% endblock title %}

{% block content %} 
<p>Enter Your Email to request a password reset</p>
<form method="POST">
    {% csrf_token %}
    <div class="form-group">
        <div class="text-danger">
            {{form.as_p}}
            <div class="text-center mt-3">
                <button class="btn btn-outline-danger text-capitalize text-muted" type="submit">Submit</button>
            </div>
        </div>
    </div>
</form>
{% endblock content %}